@import 'tailwindcss';

@theme {
  --color-bg: #fff;
  --color-primary: #543a14;
  --color-secondary: #1f1f1f;
  --font-title: 'Jua', sans-serif, system-ui, -apple-system, blinkmacsystemfont, roboto, arial, sans-serif;
}

body {
  font-family:
    'Gowun Batang',
    serif,
    system-ui,
    -apple-system,
    blinkmacsystemfont,
    roboto,
    arial,
    sans-serif;
  color: var(--color-secondary);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
  color: var(--color-primary);
}

.markdown h1 {
  margin: 2.5rem 0 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
}

.markdown h1:first-child {
  margin-top: 0;
}

.markdown h2 {
  margin: 2rem 0 1rem;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.6;
}

.markdown h3 {
  margin: 1.5rem 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
}

.markdown h4 {
  margin: 1.25rem 0 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.6;
}

.markdown h5 {
  margin: 1rem 0 1rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
}

.markdown p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.75;
}

.markdown p > code {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #ecebde;
  color: var(--color-primary);
  font-size: 0.75rem;
  position: relative;
  top: -0.125rem;
}

.markdown table {
  border: 1px #a39485 solid;
  font-size: 0.9em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  text-align: center;
}

.markdown th {
  text-align: center;
}

.markdown thead {
  font-weight: bold;
  color: #fff;
  background: #73685d;
}

.markdown td,
.markdown th {
  padding: 1em 0.5em;
  vertical-align: middle;
}

.markdown td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.markdown a {
  color: var(--color-primary);
  font-weight: 700;
  text-decoration: underline;
}

.markdown ul,
.markdown ol {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.75;
  position: relative;
  left: 1.25rem;
}

.markdown ul {
  list-style-type: disc;
}

.markdown ol {
  list-style-type: decimal;
}

.markdown ul ul,
.markdown ol ul {
  list-style-type: circle;
}

.markdown ul ul ul,
.markdown ol ul ul {
  list-style-type: square;
}

.markdown li::marker {
  color: var(--color-primary);
}

.markdown ol li::marker {
  font-weight: 700;
}

.markdown strong {
  color: var(--color-primary);
  font-weight: 700;
}

.markdown pre {
  margin-bottom: 1.5rem;
}

.markdown hr {
  color: var(--color-primary);
}

.markdown blockquote {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.75;
  position: relative;
  padding-left: 1rem;
  border-left: 4px solid var(--color-primary);
  color: var(--color-primary);
}
