@import 'tailwindcss';

@theme {
  --color-bg: #fff;
  --color-bg-secondary: #ecebde;
  --color-primary: #543a14;
  --color-secondary: #1f1f1f;
  --font-title: 'Jua', sans-serif, system-ui, -apple-system, blinkmacsystemfont, roboto, arial, sans-serif;
}

body {
  font-family:
    'Gowun Batang',
    serif,
    system-ui,
    -apple-system,
    blinkmacsystemfont,
    roboto,
    arial,
    sans-serif;
  color: var(--color-secondary);
}
