.header {
  width: 100%;
  position: fixed;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 16px 24px;
  z-index: 9999;
  background-color: white;
}

.inner_header {
  margin: 0 auto;
  width: 100%;
  max-width: 752px;
}

.header_title {
  font-size: 1.75rem;
  font-weight: bold;
  float: left;
}

.main {
  width: 100%;
  max-width: 800px;
  padding: 100px 24px 24px;
  margin: 0 auto;
}
