.post_header {
}

.post_title {
  margin-bottom: 8px;
  font-size: 2rem;
}

.post_date {
  font-size: 1rem;
  opacity: 0.5;
}

.post_content {
}

.post_content h1 {
  font-size: 1.7rem;
  margin-top: 48px;
}

.post_content h1:first-child {
  margin-top: 36px;
}

.post_content h2 {
  font-size: 1.4rem;
  margin-top: 24px;
}

.post_content p {
  margin-top: 16px;
  line-height: 26px;
  font-weight: 200;
}

.post_content p code,
.post_content ul code,
.post_content ol code {
  background-color: #e9ecef;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 400;
}

.post_content p a,
.post_content ul a,
.post_content ol a {
  color: #6499e9;
  font-weight: 300;
  transition: 0.3s all;
}

.post_content p a:hover,
.post_content ul a:hover,
.post_content ol a:hover {
  opacity: 0.7;
}

.post_content ul,
.post_content ol {
  margin: 16px 0 16px 30px;
  line-height: 30px;
}

.post_content pre {
  margin-top: 16px;
}

.post_content img {
  max-width: 100%;
}
